<table class="w-50 table table-bordered">
  <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Edit Delete</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |shop|}}
    <tr>
      <td>{{#link-to 'shops.show' shop.id}} {{shop.name}} {{/link-to}}</td>
      <td class="w-50">
        {{#if show}}
        <a href="" >d</a>
        {{/if}}
        <button 
            {{action "edit" shop}} 
            {{action (mut shopModal) true}}
            class="btn btn-success">EDIT
        </button>

        <button 
            {{action 'getShopId' shop.id}}
            {{action (mut deleteModal) true}}
            class="btn btn-danger">DELETE
        </button>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

{{#bs-modal open=shopModal onSubmit=(action "submit") onHidden=(action (mut shopModal) false) as |modal|}}
  {{#modal.header}}
    <h4 class="modal-title">
        Shop
    </h4>
  {{/modal.header}}
  {{#modal.body}}
    
    <label> Name
    {{  input value=shopName
        class="form-control"
    }}
    </label>
    
  {{/modal.body}}
  {{#modal.footer}}
    
    {{#bs-button 
        onClick=(action modal.close)}}Cancel
    {{/bs-button}}

     <button 
        class="btn btn-success"
        {{action modal.submit}}
        {{action modal.close}}>save
    </button>
    
  {{/modal.footer}}
{{/bs-modal}}

<button
    {{action (mut shopModal) true}}
    {{action 'modalShow'}}
    class="btn btn-dark"> Add shops
</button>

{{#bs-modal open=deleteModal onSubmit=(action "remove") onHidden=(action (mut deleteModal) false) as |modal|}}
  {{#modal.header}}
    <h4 class="modal-title">
       Do you really want to delete this shop?
    </h4>
  {{/modal.header}}
  {{#modal.footer}}
    {{#bs-button onClick=(action modal.close)}}Cancel{{/bs-button}}
    <button class="btn btn-danger"
        {{action 'remove'}}
        {{action modal.close}}>Delete
    </button>

  {{/modal.footer}}
{{/bs-modal}}

